body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    padding-left: 30px;
}
h2{
    font-size: 35px;
    padding-left: 35px;
}
p{
    font-size: 20px;
}
.jwd-color{
    color: mediumpurple;
}
.mission-2022{
    display: flex;   
}
.sec-8{
    display: flex;
}
#sec-8{
    display: flex;   
}
 #center {
    margin: auto;
    width:    70%;
    padding: 10px;
}
#contact-us-color{
    color: rgb(179, 8, 8);
}
#padding{
    padding: auto;
    border-radius: 10px;
    margin: 10px;
}
#mission-background{
    background-color: gray;    
}
#Vission-bacground{
    background-color: plum;
}
#Goal-bacground{
    background-color: salmon;
}

.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
}
.half-hidth{
    width: 30%;
    padding-left: 40px;
}
.half-hidth img{
    width: 50%;
}
.Tab-Open-for-relevent-Topic{
   text-decoration: none;
   background-color: forestgreen;
   background-image: linear-gradient(tomato blue);
   padding: 10px;
   color: black;
   font-weight: 500;
   border-radius: 6px; 
}
.No-age{
    font-size: 40px;
    padding-left: 20px;
}
.Until-dead-learn{
    color: mediumpurple;
    font-size: 35px;
    padding-left: 20px;
}
.orange-color{
    color: orange;
}
